# Project Summary

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scripts import reports, sql_queries

clubs_df = pd.read_csv('./data/raw/clubs.csv')
player_valuations_df = pd.read_csv('./data/raw/player_valuations.csv')

## Notebook Contents:
    1. [Project Summary](#project-summary)
    2. [EDA](#eda)
        1. [Table Inspection](#table-inspection)
        2. [Descriptive Statistics](#descriptive-statistics)
        3. [Column Analysis](#column-analysis)
        4. [Correlation](#correlation)
    3. [Data Cleaning](#data-cleaning)
    4. [Create Database](#create-database)
    5. [Join Tables](#join-tables)
    6. [Validate Data](#validate-data)
    7. [Visualize Results](#visualize-results)

## EDA

Summary:

Insights:

## Table Information
Player Valuations Table Summary: This table contains 496606 entries that designate a player and their current market value. The columns are 

Clubs Table Summary:

In [5]:
player_valuations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496606 entries, 0 to 496605
Data columns (total 5 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   player_id                            496606 non-null  int64
 1   date                                 496606 non-null  object
 2   market_value_in_eur                  496606 non-null  int64
 3   current_club_id                      496606 non-null  int64
 4   player_club_domestic_competition_id  496606 non-null  object
dtypes: int64(3), object(2)
memory usage: 18.9+ MB

In [6]:
clubs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   club_id                  439 non-null    int64
 1   club_code                439 non-null    object
 2   name                     439 non-null    object
 3   domestic_competition_id  439 non-null    object
 4   total_market_value       0 non-null      float64
 5   squad_size               439 non-null    int64
 6   average_age              401 non-null    float64
 7   foreigners_number        439 non-null    int64
 8   foreigners_percentage    390 non-null    float64
 9   national_team_players    439 non-null    int64
 10  stadium_name             439 non-null    object
 11  stadium_seats            439 non-null    int64
 12  net_transfer_record      439 non-null    object
 13  coach_name               0 non-null      float64
 14  last_season              439 non-null    int64
 15  filename                 439 non-null    object
 16  url                      439 non-null    object
dtypes: float64(4), int64(6), object(7)
memory usage: 58.4+ KB

## Descriptive Statistics

## Column Analysis

## Correlation

## Data Cleaning

Overview:

Player Valuation Cleaning Tasks:

Clubs Cleaning Tasks:

## Create Database

## Join Tables

## Validate Data

# Visualize Results