Player Valuations Table

Summary:

This table contains 496,606 row of player valuationstracking a player, the date of valuation and current club and league.

Insights:

I am unsure if current club id excludes retired players.

Cleaning Tasks:

change date dtype to datetime
This table has no nulls or duplicates

In [2]:
import pandas as pd
player_valuations_df = pd.read_csv('../data/raw/player_valuations.csv')
player_valuations_df.head()

,player_id,date,market_value_in_eur,current_club_id,player_club_domestic_competition_id
0,405973,2000-01-20,150000,3057,BE1
1,342216,2001-07-20,100000,1241,SC1
2,3132,2003-12-09,400000,126,TR1
3,6893,2003-12-15,900000,984,GB1
4,10,2004-10-04,7000000,398,IT1

In [3]:
player_valuations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496606 entries, 0 to 496605
Data columns (total 5 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   player_id                            496606 non-null  int64
 1   date                                 496606 non-null  object
 2   market_value_in_eur                  496606 non-null  int64
 3   current_club_id                      496606 non-null  int64
 4   player_club_domestic_competition_id  496606 non-null  object
dtypes: int64(3), object(2)
memory usage: 18.9+ MB

In [4]:
player_valuations_df.describe().round(3)

         player_id  market_value_in_eur  current_club_id
count   496606.000         4.966060e+05       496606.000
mean    224411.570         2.471145e+06         4428.745
std     207007.253         6.983759e+06        10940.783
min         10.000         0.000000e+00            3.000
25%      58957.000         2.000000e+05          369.000
50%     164902.000         5.000000e+05         1025.000
75%     334042.000         1.700000e+06         2995.000
max    1310513.000         2.000000e+08       110302.000

In [2]:
player_valuations_df.isnull().sum()

player_id                              0
date                                   0
market_value_in_eur                    0
current_club_id                        0
player_club_domestic_competition_id    0
dtype: int64

In [3]:
player_valuations_df.duplicated().sum()

np.int64(0)