In [2]:
import pandas as pd
game_events_df = pd.read_csv('../data/raw/game_events.csv')
game_events_df

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
0,2f41da30c471492e7d4a984951671677,2012-08-05,2211607,77,Cards,610,4425,"1. Yellow card , Mass confrontation",NaN,NaN
1,a72f7186d132775f234d3e2f7bc0ed5b,2012-08-05,2211607,77,Cards,383,33210,"1. Yellow card , Mass confrontation",NaN,NaN
2,b2d721eaed4692a5c59a92323689ef18,2012-08-05,2211607,3,Goals,383,36500,", Header, 1. Tournament Goal Assist: , Corner,...",NaN,56416.0
3,aef768899cedac0c9a650980219075a2,2012-08-05,2211607,53,Goals,383,36500,", Right-footed shot, 2. Tournament Goal Assist...",NaN,146258.0
4,5d6d9533023057b6619ecd145a038bbe,2012-08-05,2211607,74,Substitutions,383,36500,", Not reported",49499.0,NaN
...,...,...,...,...,...,...,...,...,...,...
1035038,fd6398da8baafd9d3fed4994482d34f1,2025-03-29,4572898,114,Cards,1237,700106,"1. Yellow card , Foul",NaN,NaN
1035039,03ed12d2c5be9fc8a9d33c7d32a9fc02,2025-03-29,4572898,-1,Shootout,1237,700106,", Scored",NaN,NaN
1035040,ae97664fa1743abd0cbc8b8b6e3df9af,2025-03-29,4572898,61,Substitutions,703,808509,", Tactical",392768.0,NaN
1035041,e6b9a6e8764febebf29804b7d486efbc,2025-03-29,4572898,-1,Shootout,1237,867688,", Saved",NaN,NaN
1035042,3c606b4b6ce2376258ef46f9deb0327a,2025-03-29,4572898,-1,Shootout,1237,996897,", Saved",NaN,NaN

In [3]:
game_events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035043 entries, 0 to 1035042
Data columns (total 10 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   game_event_id     1035043 non-null  object
 1   date              1035043 non-null  object
 2   game_id           1035043 non-null  int64
 3   minute            1035043 non-null  int64
 4   type              1035043 non-null  object
 5   club_id           1035043 non-null  int64
 6   player_id         1035043 non-null  int64
 7   description       947716 non-null   object
 8   player_in_id      497678 non-null   float64
 9   player_assist_id  156759 non-null   float64
dtypes: float64(2), int64(4), object(4)
memory usage: 79.0+ MB

In [5]:
game_events_df.describe().round(3)

,game_id,minute,club_id,player_id,player_in_id,player_assist_id
count,1035043.000,1035043.000,1035043.000,1035043.000,497678.000,156759.000
mean,3232166.643,61.820,4956.375,234649.759,281129.135,211605.521
std,680074.169,23.586,11822.250,212023.869,238853.115,194396.340
min,2211607.000,-1.000,1.000,10.000,10.000,10.000
25%,2609665.500,46.000,347.000,66008.000,87162.000,59561.000
50%,3203637.000,67.000,987.000,175449.000,216662.000,153237.000
75%,3840071.000,80.000,3137.000,341092.000,400649.000,313477.000
max,4572898.000,120.000,122422.000,1378362.000,1390649.000,1340495.000

In [6]:
game_events_df.isnull().sum()

game_event_id            0
date                     0
game_id                  0
minute                   0
type                     0
club_id                  0
player_id                0
description          87327
player_in_id        537365
player_assist_id    878284
dtype: int64

In [7]:
game_events_df.duplicated().sum()

np.int64(0)