In [2]:
import pandas as pd
game_events_df = pd.read_csv('../data/raw/game_events.csv')
game_events_df

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
0,2f41da30c471492e7d4a984951671677,2012-08-05,2211607,77,Cards,610,4425,"1. Yellow card , Mass confrontation",NaN,NaN
1,a72f7186d132775f234d3e2f7bc0ed5b,2012-08-05,2211607,77,Cards,383,33210,"1. Yellow card , Mass confrontation",NaN,NaN
2,b2d721eaed4692a5c59a92323689ef18,2012-08-05,2211607,3,Goals,383,36500,", Header, 1. Tournament Goal Assist: , Corner,...",NaN,56416.0
3,aef768899cedac0c9a650980219075a2,2012-08-05,2211607,53,Goals,383,36500,", Right-footed shot, 2. Tournament Goal Assist...",NaN,146258.0
4,5d6d9533023057b6619ecd145a038bbe,2012-08-05,2211607,74,Substitutions,383,36500,", Not reported",49499.0,NaN
...,...,...,...,...,...,...,...,...,...,...
1035038,fd6398da8baafd9d3fed4994482d34f1,2025-03-29,4572898,114,Cards,1237,700106,"1. Yellow card , Foul",NaN,NaN
1035039,03ed12d2c5be9fc8a9d33c7d32a9fc02,2025-03-29,4572898,-1,Shootout,1237,700106,", Scored",NaN,NaN
1035040,ae97664fa1743abd0cbc8b8b6e3df9af,2025-03-29,4572898,61,Substitutions,703,808509,", Tactical",392768.0,NaN
1035041,e6b9a6e8764febebf29804b7d486efbc,2025-03-29,4572898,-1,Shootout,1237,867688,", Saved",NaN,NaN
1035042,3c606b4b6ce2376258ef46f9deb0327a,2025-03-29,4572898,-1,Shootout,1237,996897,", Saved",NaN,NaN

In [4]:
#game_events_df.info()
game_events_df.describe(include='all')

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
count,1035043,1035043,1.035043e+06,1.035043e+06,1035043,1.035043e+06,1.035043e+06,947716,4.976780e+05,1.567590e+05
unique,1035043,3815,NaN,NaN,4,NaN,NaN,8497,NaN,NaN
top,2f41da30c471492e7d4a984951671677,2023-11-01,NaN,NaN,Substitutions,NaN,NaN,", Tactical",NaN,NaN
freq,1,1557,NaN,NaN,498454,NaN,NaN,293274,NaN,NaN
mean,NaN,NaN,3.232167e+06,6.182032e+01,NaN,4.956375e+03,2.346498e+05,NaN,2.811291e+05,2.116055e+05
std,NaN,NaN,6.800742e+05,2.358612e+01,NaN,1.182225e+04,2.120239e+05,NaN,2.388531e+05,1.943963e+05
min,NaN,NaN,2.211607e+06,-1.000000e+00,NaN,1.000000e+00,1.000000e+01,NaN,1.000000e+01,1.000000e+01
25%,NaN,NaN,2.609666e+06,4.600000e+01,NaN,3.470000e+02,6.600800e+04,NaN,8.716200e+04,5.956100e+04
50%,NaN,NaN,3.203637e+06,6.700000e+01,NaN,9.870000e+02,1.754490e+05,NaN,2.166620e+05,1.532370e+05
75%,NaN,NaN,3.840071e+06,8.000000e+01,NaN,3.137000e+03,3.410920e+05,NaN,4.006490e+05,3.134770e+05
max,NaN,NaN,4.572898e+06,1.200000e+02,NaN,1.224220e+05,1.378362e+06,NaN,1.390649e+06,1.340495e+06