Game Lineups Table

Summary:

This table contains 2,191,911 rows of lineup data tracking the starting lineup and substitutions for games.

Insights:

This table could be useful in tracking players minutes or calculating values grouped by starting or substitutions. For example it might be useful to calculate the value of the average starting lineups versus the bench players.

Cleaning Tasks:

handle 3 nulls in position column
convert date column dtype to datetime

In [3]:
import pandas as pd 
game_lineups_df = pd.read_csv('../data/raw/game_lineups.csv')
game_lineups_df.head()

,game_lineups_id,date,game_id,player_id,club_id,player_name,type,position,number,team_captain
0,b2dbe01c3656b06c8e23e9de714e26bb,2013-07-27,2317258,1443,610,Christian Poulsen,substitutes,Defensive Midfield,5,0
1,b50a3ec6d52fd1490aab42042ac4f738,2013-07-27,2317258,5017,610,Niklas Moisander,starting_lineup,Centre-Back,4,0
2,7d890e6d0ff8af84b065839966a0ec81,2013-07-27,2317258,9602,1090,Maarten Martens,substitutes,Left Winger,11,0
3,8c355268678b9bbc7084221b1f0fde36,2013-07-27,2317258,12282,610,Daley Blind,starting_lineup,Left-Back,17,0
4,76193074d549e5fdce4cdcbba0d66247,2013-07-27,2317258,25427,1090,Roy Beerens,starting_lineup,Right Winger,23,0

In [3]:
game_lineups_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2191911 entries, 0 to 2191910
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   game_lineups_id  object
 1   date             object
 2   game_id          int64
 3   player_id        int64
 4   club_id          int64
 5   player_name      object
 6   type             object
 7   position         object
 8   number           object
 9   team_captain     int64
dtypes: int64(4), object(6)
memory usage: 167.2+ MB

In [4]:
game_lineups_df.describe().round(3)

           game_id    player_id     club_id  team_captain
count  2191911.000  2191911.000  2191911.00   2191911.000
mean   3079740.596   213736.305     4394.99         0.047
std     511107.198   188289.510    10173.59         0.212
min    2317258.000       10.000        1.00         0.000
25%    2611307.000    62920.000      339.00         0.000
50%    3063686.000   163489.000      985.00         0.000
75%    3484182.000   312473.000     3000.00         0.000
max    4300789.000  1244435.000   102251.00         1.000

In [5]:
game_lineups_df.isnull().sum()

game_lineups_id    0
date               0
game_id            0
player_id          0
club_id            0
player_name        0
type               0
position           3
number             0
team_captain       0
dtype: int64

In [6]:
game_lineups_df.duplicated().sum()

np.int64(0)

In [4]:
game_lineups_df.type.unique()

array(['substitutes', 'starting_lineup'], dtype=object)

In [5]:
game_lineups_df.position.unique()

array(['Defensive Midfield', 'Centre-Back', 'Left Winger', 'Left-Back',
       'Right Winger', 'Goalkeeper', 'Attacking Midfield',
       'Centre-Forward', 'Central Midfield', 'Right-Back',
       'Right Midfield', 'Left Midfield', 'Second Striker', 'Defender',
       'midfield', 'Attack', 'Sweeper', nan], dtype=object)

In [6]:
game_lineups_df.number.unique()

array(['5', '4', '11', '17', '23', '29', '1', '20', '12', '16', '3', '10',
       '9', '8', '15', '27', '7', '24', '40', '25', '19', '2', '26', '28',
       '22', '21', '31', '39', '13', '14', '6', '-', '30', '18', '37',
       '34', '38', '33', '32', '35', '58', '36', '41', '44', '50', '42',
       '99', '88', '80', '49', '51', '72', '84', '89', '55', '70', '77',
       '73', '45', '87', '92', '64', '91', '90', '47', '76', '68', '71',
       '61', '75', '78', '95', '85', '69', '93', '46', '59', '83', '66',
       '56', '98', '62', '48', '57', '82', '67', '43', '63', '79', '54',
       '53', '94', '52', '60', '65', '81', '74', '97', '96', '86', '880',
       '189', '203', '\n                  16\n                ',
       '\n                  1\n                ',
       '\n                  10\n                ',
       '\n                  14\n                ',
       '\n                  15\n                ',
       '\n                  22\n                ',
       '\n                  9\n                ',
       '\n                  2\n                ',
       '\n                  45\n                ',
       '\n                  8\n                ',
       '\n                  31\n                ',
       '\n                  50\n                ',
       '\n                  4\n                ',
       '\n                  5\n                ',
       '\n                  73\n                ',
       '\n                  58\n                ',
       '\n                  24\n                ',
       '\n                  29\n                ',
       '\n                  7\n                ',
       '\n                  55\n                ',
       '\n                  37\n                ',
       '\n                  13\n                ',
       '\n                  28\n                ',
       '\n                  11\n                ',
       '\n                  3\n                ',
       '\n                  20\n                ',
       '\n                  41\n                ',
       '\n                  35\n                ',
       '\n                  33\n                ',
       '\n                  17\n                ',
       '\n                  30\n                ',
       '\n                  6\n                ',
       '\n                  25\n                ',
       '\n                  19\n                ',
       '\n                  21\n                ',
       '\n                  23\n                ',
       '\n                  90\n                ',
       '\n                  26\n                ',
       '\n                  77\n                ',
       '\n                  18\n                ',
       '\n                  27\n                ',
       '\n                  38\n                ',
       '\n                  59\n                ',
       '\n                  40\n                ',
       '\n                  36\n                ',
       '\n                  39\n                ',
       '\n                  47\n                ',
       '\n                  32\n                ',
       '\n                  12\n                ',
       '\n                  42\n                ',
       '\n                  43\n                ',
       '\n                  53\n                ',
       '\n                  99\n                ',
       '\n                  44\n                ',
       '\n                  66\n                ',
       '\n                  52\n                ',
       '\n                  88\n                ',
       '\n                  80\n                ',
       '\n                  34\n                ',
       '\n                  94\n                ',
       '\n                  95\n                ',
       '\n                  93\n                ',
       '\n                  98\n                ',
       '\n                  96\n                ',
       '\n                  71\n                ',
       '\n                  48\n                ',
       '\n                  54\n                ',
       '\n                  56\n                ',
       '\n                  46\n                ',
       '\n                  67\n                ',
       '\n                  72\n                ',
       '\n                  70\n                ',
       '\n                  97\n                ',
       '\n                  91\n                ',
       '\n                  82\n                ',
       '\n                  62\n                ',
       '\n                  63\n                ',
       '\n                  84\n                ',
       '\n                  78\n                ',
       '\n                  49\n                ',
       '\n                  76\n                ',
       '\n                  61\n                ',
       '\n                  57\n                ',
       '\n                  64\n                ',
       '\n                  86\n                ',
       '\n                  60\n                ',
       '\n                  79\n                ',
       '\n                  51\n                ',
       '\n                  65\n                ',
       '\n                  75\n                ',
       '\n                  83\n                ',
       '\n                  68\n                ',
       '\n                  89\n                ',
       '\n                  81\n                ',
       '\n                  87\n                ',
       '\n                  85\n                ',
       '\n                  69\n                ',
       '\n                  92\n                ',
       '\n                  74\n                ',
       '\n                  -\n                '], dtype=object)